{% extends 'time_tracker_site/base_time_tracker_site.html' %}
{% block title %}
    Time tracking report
{% endblock %}

{% block content %}
    <h2>Time tracking report for "{{ request.user }}" user</h2>
    <br>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Hours</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
      {% for project in projects %}
          {% if request.user == project.author %}
                <tr>
                  <td><a href="{{ project.get_absolute_url }}">{{ project.title|truncatechars:30 }}</a></td>
                  <td>{{ project.hours }}</td>
                  <td>{{ project.description|truncatechars:80 }}</td>
                </tr>
          {% endif %}
      {% endfor %}
  </tbody>
</table>

    <div>
        <br>
        <h5>You can create new project: <a class="btn btn-outline-primary btn-sm" href="{% url 'add_task_url' %}" role="button">Add new project</a></h5>
    </div>

{% endblock %}
