{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if request.user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <h5>Please login to see this page.</h5><br>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto">
        <h3>Please sign in</h3><br>
        <input type="hidden" name="next" value="{{ next }}">
        {{ form }}
        <button class="btn btn-primary" type="submit">Sign in</button>
    </div>
  </div>
</div>
</form>

{% endblock %}




